/* Estilos para centrar y dar estilo al formulario */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.customForm {
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}



.label
.select
.input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  font-size: 16px;
  
}

.boton {
  display: flex;
  justify-content: center;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  
}

.boton:hover {
  background-color: #0056b3;
}
.text{
  color: black;
}

.form{
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 10px; 
  margin-top: 50px;
  
}

.centered-div {
  margin: 0; /* Elimina el margen entre elementos internos */
  
}
.h2{
  display: flex;
  justify-content: center;
  font-size: large;
  margin-top: 100px;
}