/* Estilos para centrar y dar estilo al formulario */

.text{
  color: black;
}



.centered-div {
  margin: 0; /* Elimina el margen entre elementos internos */
  
}



.h2{
  text-align: center;
  background-color: #5c5d5c;
  margin: auto;
  padding: 15px;
  height: auto;
  width: 25%;
  align-content: center;
  border: 3px solid white;
  border-radius: 15px;
  box-shadow: inset;
  font-size: 50px;
}

.form{
  text-align: center;
  background-color: #5c5d5c;
  margin: auto;
  padding: 15px;
  height: auto;
  width: 25%;
  align-content: center;
  border: 3px solid white;
  border-radius: 15px;
  box-shadow: inset;
  opacity: 1;
  
}
.label{
  opacity: 0.9;
    width: 50%;
    font-size: 20px;
    color: #fefefe;
    font-weight: bold; 
    margin-bottom: 5px; 
}
.input {
  opacity: 0.9;
  width: 95%;
  margin-top: 5px;
  padding: 10px;
  border: 3px solid #ccc; 
  border-radius: 5px; 
  font-size: 16px;
  color: #333;
}
.button {
  align-items: center;
  font-size: 20px;
  flex-direction: column;
  width: 50%;
  padding: 15px 25px; 
  background-color: #333; 
  color: #fff;
  border: none;
  border-radius: 5px; 
  font-size: 20px;
  cursor: pointer;
}
