:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
@tailwind base;
@tailwind components;
@tailwind utilities;



.topnav {
  background-color: rgb(148, 192, 250);
  overflow: hidden;
}
.topnav a {
  float: left;
  color: rgb(80, 78, 78);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a.active {
  background-color: rgb(51, 50, 51);
  color: aliceblue;
}
div {
  margin: 0px;
  font-family: Arial, sans-serif;
  
}

